<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Include Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" th:href="@{/image/Bluemoon_FavIcon.png}">
    <title>Bluemoon - Inspect Trade</title>
</head>
<body style="background-color: #eee;">

<div th:replace="~{fragments/navbar :: navbar(user=${user})}"></div>

<!-- Website content here -->
<div>
    <div class="container-fluid py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-6">
                <div class="card rounded-3 text-black align-middle">
                    <div class="card-body p-md-5 h-100">
                        <div class="text-center mb-4">
                            <h4>Inspect Trade</h4>
                        </div>
                        <!-- Trade -->
                        <div class="row mb-3">
                            <div class="card-body border rounded p-2" style="background-color: #eee;">

                                <!-- ID -->
                                <div class="ms-1 row">
                                    <div class="col-12 p-2">
                                        <span class="fw-bold p-lg-2 p-1">ID: </span>
                                        <span th:text="${trade.id}"></span>
                                    </div>
                                </div>

                                <!-- Date -->
                                <div class="ms-1 row">
                                    <div class="col-12 p-2">
                                        <span class="fw-bold p-lg-2 p-1">Date: </span>
                                        <span th:text="${trade.date}"></span>
                                    </div>
                                </div>

                                <div class="row text-center mb-2">
                                    <h5>Items</h5>
                                </div>

                                <!-- Tradeables -->
                                <div th:each="tradeable : ${trade.tradeables}" class="row p-2 m-2 card" style="background-color: #ffffff;">
                                    <div class="d-flex align-items-center">
                                        <div class="col-6 p-2">
                                            <div class="d-flex align-items-center">
                                                <span class="fw-bold p-lg-2 p-1">ID: </span>
                                                <span th:text="${tradeable.id}"></span>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <span class="fw-bold p-lg-2 p-1">Description: </span>
                                                <span th:text="${tradeable.description}"></span>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <span class="fw-bold p-lg-2 p-1">Silver Type: </span>
                                                <span th:text="${tradeable.silverType.name}"></span>
                                            </div>
                                        </div>
                                        <div class="col-6 p-2">
                                            <div class="d-flex align-items-center">
                                                <span class="fw-bold p-lg-2 p-1">Weight: </span>
                                                <span th:text="${tradeable.weight}"></span>
                                                <span>g</span>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <span class="fw-bold p-lg-2 p-1">Sell Price: </span>
                                                <span th:text="${tradeable.sellPrice}"></span>
                                                <span>€/g</span>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <span class="fw-bold p-lg-2 p-1">Value: </span>
                                                <span th:text="${tradeable.weight*tradeable.sellPrice}"></span>
                                                <span>€</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Buttons -->
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-end align-items-center">
                                        <form th:action="@{/app/trade/inspect/{id}(id=${trade.id})}" onsubmit="return confirm('Are you sure you want to approve this trade?');" method="post" class="p-1">
                                            <input type="hidden" name="approval" value="true" />
                                            <button type="submit" class="btn btn-success fa-lg">Approve</button>
                                        </form>
                                        <form th:action="@{/app/trade/inspect/{id}(id=${trade.id})}" onsubmit="return confirm('Are you sure you want to deny this trade?');" method="post" class="p-1">
                                            <input type="hidden" name="approval" value="false" />
                                            <button type="submit" class="btn btn-danger fa-lg">Deny</button>
                                        </form>
                                        <span class="p-2"></span>
                                        <span class="p-1">
                                            <a th:href="@{/app/trade/list}" class="d-flex justify-content-end text-decoration-none">
                                                <button type="button" class="btn btn-primary btn-light fa-lg">Cancel</button>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Keep JS at the bottom! -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
